h1 {
  margin: 0px;
  color: rgb(64, 114, 134);

}

.add-product-form {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  padding-top: 10px;
  background-color: blanchedalmond;
  text-align: center;
}

.card {
  padding-top: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding-left: 10px;
  padding-right: 10px;


}

.txt {
  width: 800px;
}

.flexclass {
  display: flex;
  gap: 2rem;
}

@media screen and (max-width:1200px) {
  .card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

  }
}

@media screen and (max-width:992px) {
  .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    place-items: center;

  }
}

@media screen and (max-width:768px) {
  .card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    place-items: center;

  }
}

@media screen and (max-width:576px) {
  .card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    place-items: center;

  }
}

@media screen and (max-width:281px) {
  .card {

    place-items: center;
    font-size: 1px;
  }
}

@media screen and (max-width:281px) {
  .cardw {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    width: 200px;
    font-size: 1px;

  }
}

.end {
  text-align: end;
}
@media (max-width: 600px) {
  .add-product-form .info {
    width: 100%;
    max-width: none;
  }
}
.flexclass {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  /* Adjust the font size or other styles for smaller screens */
  .txt {
    font-size: 10px;
  }
}